*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    font-family: 'Dancing Script', cursive;
}

.carousel-item img{
    width: 100%;
    height: 90vh;
}

.card-body img{
    min-width: 50%;
    max-height: 200px;
    border-radius: 50%;
}

.footer{
    background: rgb(0, 47, 255);
}

.footer .footer-link{
    font-size: 1rem;
    color: white;
    padding: 1.875rem;
}

.footer .footer-link a{
    text-decoration: none;
}

.footer a i{
    color: white;
    padding: 1.875rem;
}